

.header-navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-button{
    justify-self: flex-start;
}

#user-links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    p{
        margin: 0;
        align-self: center;
    }
}

h1{
    justify-self: center;
}

#home{
    display: flex;

    p{
        margin: 0;
        align-self: center;
    }
}



