// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'index';

.user-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.listing-list{
    width: 50%;
}

.listing{
    background-color: $grey;
    border-radius: 10px;
    border: 5px solid $blue;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'title title '
    'status details'
    ;

    margin-bottom: 5px;

    .listing-title{
        grid-area: title;
        text-align: center;
    }

    .status{
        grid-area: status;
        text-align: center;
    }

    .details{
        grid-area: details;
        text-align: center;
    }
}